.error {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;

    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h1, h2 {
        animation: glitch 1.5s linear infinite;
        &:before,
        &:after{
          content: attr(title);
          position: absolute;
          left: 0;
          right: 0;
        }

        &:before{
            animation: glitchTop 1.5s linear infinite;
            clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        }
    
        &:after{
            animation: glitchBottom 2s linear infinite;
            clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        }
    }
}