
.container {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998;
}

.modal {
    --gutter: 2rem;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    padding-top: 5%;
    &.show {
            top: 0;
            opacity: 1;
    }
    &__content {
        width: 95vw;
        height: 90vh;
        max-height: 100rem;
        max-width: 200rem;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        margin: 0 auto;
        background-color: var(--light-color);
        display: flex;
        flex-direction: column;
        header {
            font-family: 'Roboto';
            min-height: 7rem;
            height: 7rem;
            margin-right: 2rem;
            color: var(--light-color);
            display: flex;
            align-items: center;
            span {
              display: flex;
              align-items: center;
              justify-content: end;
              height: 100%;
              width: 100%;
              color: var(--font-color);
              font-size: 20px;
              opacity: .8;
              cursor: pointer;
              &:hover {
                opacity: 1;
              }
            }
          }
          .modal__body {
            flex: 1;
            text-align: left;
            overflow: hidden;
            padding: var(--gutter);

            .loading {
                text-align: center;
                margin-top: 5rem;
                margin-bottom: 5rem;
        
                &__image {
                    stroke-width: 2px;
                    stroke-dasharray: 2400;
                    animation: anim 5s alternate-reverse infinite;
                }
        
                &__title {
                    font-size: 4rem;
                    font-family: 'Sunrise';
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    letter-spacing: 2px;
                    animation: text 5s alternate-reverse infinite;
                }
        
                &__text {
                    font-size: 2rem;
                    font-family: 'Roboto';
                    line-height: 3.5rem;
                    animation: text 5s alternate-reverse infinite;
                }
            }
          }
    }
}