<div class="container">
    <div class="modal">
        <div class="modal__content">
            <header>
                <span (click)="close()">X</span>
            </header>
            <div class="modal__body">
                <div class="loading">
                    <svg width="256" height="320" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="loading__image" d="M122 90H378L122 410H378L122 90Z"/>
                    </svg>
                    <p class="loading__title">Please await a little bit meanwhile your unique piece of art is been generated...</p>
                    <p class="loading__text">“Breath for Sale” is a NFT project that explores how a single, situated breath registers in a tokenized market enabled by blockchain technology. Utilizing breathing (i.e. CO2, O2, ethanol) and atmospheric data (i.e. temperature, humidity, time, location, air quality in the immediate environment) collected by an in-situ and custom engineered breathing device, a unique visualization is generated for each participant. Participants then choose between “printing” (the image on white paper) or “minting” (the image as an NFT on OpenSea). By “minting,” this particularly engineered form of situated and site-specific data computation is brought into direct interaction with the Ethereum blockchain. All minted breaths are linked to OpenSea, open for purchase, and are updated in real-time to this website.</p>
                </div>
            </div>
        </div>
    </div>
</div>
