@keyframes anim {
    0% {
      stroke: #9100ff;
      stroke-width: 2px;
      stroke-dashoffset: -2400;
    }
    50% {
      stroke: #20066e;
      stroke-width: 1px;
    }
    75% {
      stroke: #e100ff;
      stroke-width: 2px;
    }
    100% {
       stroke: #ff0099;
       stroke-width: 1px;
       stroke-dashoffset: 0;
    }
  }

@keyframes text {
    0% {
      color: #9100ff;
    }
    50% {
      color: #20066e;
    }
    75% {
      color: #e100ff;
    }
    100% {
       color: #ff0099;
    }
}

@keyframes progressbar {
    0% {
      background: #9100ff;
    }
    15% {
      background: #20066e;
    }
    30% {
      background: #00ffff;
    }
    45% {
      background: #00ff00;
    }
    60% {
      background: #ffff00;
    }
    75% {
      background: #ff5f1f;
    }
    90% {
      background: #f72119;
    }
    95% {
      background: #e100ff;
    }
    100% {
       background: #ff0099;
    }
}

