:root {
    --primary-color: #9100ff;
    --secondary-color: #20066e;
    --accent-color: #e100ff;
    --light-color: #e5e5f1;
    --dark-color: #1f1f1f;
    --dark-color-hover: rgba(31, 31, 31, 90%);
    --font-color: #290125;
}