.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        min-height: 100vh;
    }
}

@media screen and (min-width: 1296px) {
    .container {
        gap: 20rem;
    }
}