.container {
    padding: 8rem 3rem;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

img {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.btn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    background: #231F20;
}

.info {
    p {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}