.container {
    // padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 4rem;
        padding-left: 5rem;
        padding-right: 5rem;
    
        h1 {
            font-size: 5rem;
        }
        
        img {
            width: 100%;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        
        .btn {
            display: block;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 3rem;
            line-height: 3.5rem;
            padding: 1.5rem 1rem;
            margin-bottom: 2rem;
            width: 100%;
            background: #231F20;
        }
        p {
            font-size: 1.5rem;
            line-height: 3rem;
        }
        .social {
            padding-top: 1rem;
            padding-bottom: 1rem;
    
            svg {
                fill: #fff;
            }
        }
    }

    .traits {
        margin-bottom: 4rem;
    }
    .notFound {
        line-height: 6rem;

        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3rem;
        }

    }
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 10rem;
        padding-right: 10rem;
        .traits {
            padding: 4rem 10rem;
        }
    }
}

@media screen and (min-width: 1024px) { 
    .container {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        min-height: 100vh;

        .info {
            padding: 0;
            align-items: flex-start;
            justify-content: start;
            max-width: 62rem;
            text-align: left;

            .btn {
                text-align: center;
                font-size: 2rem;
                width: auto;
            }
        }

        .traits {
            padding: 0;
            text-align: left;
        }
        // padding-left: 30rem;
        // padding-right: 30rem;
    }
}

@media screen and (min-width: 1296px) {
    .container {
        gap: 20rem;

        .info {
            h1 {
                font-size: 8rem;
            }

            img {
                padding-top: 5rem;
                padding-bottom: 5rem;
            }

            .btn {
                padding: 2rem 1.5rem;
                font-size: 3rem;
            }
            p {
                font-size: 2.5rem;
                line-height: 6rem;
            }
        }
    }
}