<div class="loading">
    <svg width="256" height="320" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="loading__image" d="M122 90H378L122 410H378L122 90Z"/>
    </svg>
    <p class="loading__title">Please await a little bit meanwhile your unique piece of art is been generated...</p>
    <p class="loading__text">‘Breath for Sale’ is a first of its kind NFT (non-fungible token) installation developed in a collaboration between social justice advocates, Web3 developers, legal theorists, technical engineers, and digital artists.</p>
    <p class="loading__text">The project explores how breathing – a process intimately entangled with the social and physical environment – registers in a tokenized market enabled by blockchain technology.</p>
</div>